body {
    font-family: 'Lato', sans-serif;
}

.banner {
    display: flex;
    background-color: #E554731A;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    size: 100%;
}

.banner-greeting {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    text-align: center;

    flex-direction: column;

}

.banner-img {
    width: 635px;
    padding: 50px 240px 0px 97px;

}

.banner-details {
    text-align: left;
}

.description {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    background-color: #E55473;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    margin-bottom: 147px;
}

.title-section {
    text-align: center;

}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding: 0px 764px;
}

.title-details {
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 663px;
}

.flower {
    display: flex;
    justify-content: space-around;
    padding: 0px 240px;
}

.flower-title {
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.img-background-1 {
    width: 310px;
height: 428px;
padding: 110px 78px 0px 76px;
}
.img-background-2 {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;
    
}
.img-background-3 {
    width: 400px;
height: 500px;
padding: 67px 75px 0px 75px;
}
.flower11{
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
   
}
.flower22{
    border-radius: 300px 300px 0px 0px;
background-color: #0597A026;
width: 464px;
height: 538px;

}
.flower33{
   background-color: #477D1126; 
   border-radius: 300px 300px 0px 0px;
}
.service{
    display: flex;
    justify-content: space-around;
    background-color: #2727270D;
    width: 2200px;
    height: 320px;
    border-radius: 8px;
    margin: 195px 400px 128px 400px;

    align-items: center;
}
.section-img{
    width: 88px;
height: 88px;
align-items: center;
justify-content: center;

}
.section-p{
    color:#272727CC ;
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px;
}
 
 .s{
   color: #E55473;
 }
 .discount2{
    color:#27272799;
text-align: center;
font-size: 18px;
font-weight: 400px;
line-height: 30px;
text-align: center;

}
.discount1{
color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 423px;
text-align: center;
}

 .discount
 {
    display: flex;
    width: 1922px;
height: 620px;
background-color: #E554730D;
margin: 800px;
margin-top: 128px;
 }
 .discount-img{
    padding: 100px 430px 100px 1175px;
    width: 318px;
height: 420px;
 }
 .instagram{
    margin-top: 500px;
 }
 .instagram2{
    color: #27272799;
    text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
 }
 .instagram1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
 }
 .instagram-img{
    display: flex;
    align-content: center;
 }
 .deals{
    width: 1440px;
    height: 449px;
    background-image: url('/Rectangle\ 9.png');
 }
 .deals1{
color: #272727;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 120px;
  }
  .deals2{
  color: #27272799;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;

 }
 .text{
    width: 700px;
height: 64px;
border-radius: 8px;
align-items: center;
 }
.t333{
   align-items: center;
}
.f{
    width: 1922px;
height: 449px; 
background-color:#111010 ;
color: #FFFFFFE5;
align-items: center;

}
.f1{color:  #E55473;

}
.f333{
    color: #FFFFFF;
}
 


